*{
   margin: 0px;
   padding: 0px;

}

body{
    
   justify-content: center;
   align-items:center ;
   display:flex ;
   background-color: #f4f4f4;
   flex-direction: column;
   height: 100vh;
   
}

h1{
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px;
    
}

#taskInput{
    padding: 10px;
    font-size:1rem ;
    border:1px solid #ccc ;
    border-radius: 5px;
    width: 250px;
}

#addTaskBtn{
    padding: 15px 10px;
    background-color:#28a745 ;
    margin-left: 10px;
    border:none ;
    border-radius: 5px;
    color: white;
    font-size: 1rem;
    cursor: pointer;
}

#addTaskBtn:hover{
    background-color:  #218838;
}

#taskist{
    width: 100%;
    margin-top: 20px;
    max-width: 300px;
}

#taskList li{
    background-color:  #fff;
    display: flex;
    justify-content: space-between;
    margin-bottom:10px ;
    align-items: center;
    border-radius: 5px;
    padding: 10px;
}

